nav ul> li:hover {
  background-color: rgba(255, 255, 0, 1);
}

nav ul li a:hover {
  color: black;
  transition-property: color;
  transition-duration: 0.25s;
}

#nav-dropdown li a {
  color: white;
  font-size: 14px;
}

.material-icons{
  display: inline-flex;
  vertical-align: bottom;
}

.dropdown-trigger {
  
  color: white;
  background-color: black;
}
#nav-dropdown li{
  background-color: black;
}
#nav-dropdown li:hover {
  background-color: rgba(255, 255, 0, 1);
}
#nav-dropdown li a:hover {
  color: black;
  transition-property: color;
  transition-duration: 0.25s;
}

#sidenav-overlay {
  z-index: 9
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: "Computer Modern Bright", sans-serif;
}

main {
  flex: 1 0 auto;
}

.name {
  font-weight: bold;
}

.bulleted-list li {
  list-style-type: disc !important;
}

.bulleted-list .indented {
  margin-left: 20px;
  list-style-type: circle !important;
}

.tabs .tab a {
  color: #000;
}

/*Black color to the text*/

.tabs .tab a.active {
  color: #000;
}

/*Text color on hover*/

.tabs .tab a:hover {
  color: #000;
}

/*Text color on hover*/

.tabs .tab a:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

/*Text color on hover*/

.tabs .tab a:focus.active {
  background-color: rgba(0, 0, 0, 0.1);
}

/*Text color on hover*/

.tabs .indicator {
  background-color: #000;
}