nav ul> li:hover {
  background-color: rgba(255, 255, 0, 1);
}

nav ul li a:hover {
  color: black;
  transition-property: color;
  transition-duration: 0.25s;
}

#nav-dropdown li {
  background-color: black;
}

.material-icons{
  display: inline-flex;
  vertical-align: bottom;
}

#nav-dropdown li a {
  color: white;
  font-size: 14px;
}

.dropdown-trigger {
  
  color: white;
  background-color: black;
}

#nav-dropdown li:hover {
  background-color: rgba(255, 255, 0, 1);
}
#nav-dropdown li a:hover {
  color: black;
  transition-property: color;
  transition-duration: 0.25s;
}

#sidenav-overlay {
  z-index: 9
}
.parallax-container {
  height: 300px;
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: "Computer Modern Bright", sans-serif;
}

main {
  flex: 1 0 auto;
}

thead {
  font-weight: bold;
}

.alert {
  color: red;
}

#admin-logout-btn {
  cursor: pointer;
}

textarea.materialize-textarea {
  min-height: 6rem;
}

.handout-link:hover {
  background: rgba(208, 208, 208, 0.44);
}

.handout-link {
  transition: background 0.3s ease;
}

/* .pagination-div {
  position: absolute;
  top: 650px;
  width: 500px;
} */