.modal.full {                                                                                                      
    top: 10vh !important;
    width: 90vw; 
    max-height: 80vh; 
    height: 80vh
} 