nav {
  z-index: 10;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
}

.no-shadows {
  box-shadow: none!important;
}

.slider .indicators .indicator-item.active {
  background-color: #ffff00 !important;
}

.regular:hover {
  background-color: rgba(255, 255, 0, 0.7);
}


.regular a:hover {
  color: black;
  transition-property: color;
  transition-duration: 0.25s;
}

.sidenav ul li:hover {
  background-color: rgb(96, 96, 50);
}

.dropdown-trigger {
  
  color: white;
  background-color: rgba(255, 255, 0, 0) !important;
}

.dropdown-trigger:hover {
  color: black;
  background-color: rgba(255, 255, 0, 0.7) !important;
  transition-property: color;
  transition-duration: 0.25s;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: "Computer Modern Bright", sans-serif;
}

#sidenav-overlay {
  z-index: 9
}

.slides img {
  filter: brightness(40%);
}