nav ul> li:hover {
  background-color: rgba(255, 255, 0, 1);
}

nav ul li a:hover {
  color: black;
  transition-property: color;
  transition-duration: 0.25s;
}
#nav-dropdown li {
  background-color: black;
}

#nav-dropdown li a {
  color: white;
  font-size: 14px;
}
.material-icons{
  display: inline-flex;
  vertical-align: bottom;
}

.dropdown-trigger {
  
  color: white;
  background-color: black;
}

#nav-dropdown li:hover {
  background-color: rgba(255, 255, 0, 1);
}
#nav-dropdown li a:hover {
  color: black;
  transition-property: color;
  transition-duration: 0.25s;
}


#sidenav-overlay {
  z-index: 9
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: "Computer Modern Bright", sans-serif;
}

main {
  flex: 1 0 auto;
}

.alert {
  color: red;
}

#admin-logout-btn {
  cursor: pointer;
}

textarea.materialize-textarea{min-height: 6rem;}

.update-link:hover {
  background: rgba(208, 208, 208, 0.5);
}

.update-link {
  transition: background 0.3s ease;
}
.scrollbox {
  overflow-y: scroll;
  height: 300px;
}
.scrollbox::-webkit-scrollbar {
  -webkit-appearance: none;
}

.scrollbox::-webkit-scrollbar:vertical {
  width: 11px;
}

.scrollbox::-webkit-scrollbar:horizontal {
  height: 11px;
}

.scrollbox::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 2px solid #ffcc80; /* should match background, can't be transparent */
  background-color: rgba(0, 0, 0, .5);
}