---
import LegacyLayout from "../layouts/LegacyLayout.astro";
---

<LegacyLayout title="About" styles={["/css/about.css"]}>
<main>
            <!-- FIND GOOD PICTURES!!!! -->
            <!-- <div class="parallax-container">
            <div class="parallax">
                <img src="images/Math_Team_Korea_2016.jpg"></div>
        </div> -->
            <div class="container">
                <h3><i class="material-icons" style="font-size: 1.2em">info</i> BCA Math Team</h3>
                <p>
                    The Bergen County Academies Math Team is one of the strongest math teams in the nation (check Past
                    Results in the
                    <a href="/news">Awards</a> page). The team participates in many math competitions during the year,
                    both locally and across the globe.
                </p>
                <p>
                    The Math Team is open to all high school students, regardless of mathematical ability. The primary
                    program of the BCA Math Team is intended for a high school audience, and runs most Saturdays from
                    1:00-4:00pm. Admission to this program for any student not yet in grade 9 is by invitation only, and
                    such invitations will be extended only by a math team coach. Most weeks, there will be a paired set
                    of lectures (introductory and intermediate), and a contest or practice contest. Some weeks will be
                    devoted in their entirety to contests, and in some cases may extend past the regular hours.
                    Materials from previous lectures can be found at <a href="/archive">the archive page</a>.
                </p>
                <p>
                    The middle school program of the BCA Math Team will run two Saturdays a month from 10:30am -
                    12:30pm. Students in grades 6 and below are encouraged to talk with Mr. Plotnick to determine if
                    this program is appropriate for them before completing registration. Most sessions, there will be
                    instruction, followed by contests or practice contests.
                </p>
                <p>
                    We are also responsible for organizing and running the
                    <strong>Joe Holbrook Memorial Math Competition</strong>,
                    <em>the largest middle school math competition in Bergen County</em>. For more information, please
                    visit its official website at
                    <a href="https://holbrook.bcamathteam.org">https://holbrook.bcamathteam.org</a>.
                </p>

                <br />

                <h4><i class="material-icons" style="font-size: 1.2em">group</i> Math Team Leadership (2026-27)</h4>

                <div class="row">
                    <div class="col s12">
                        <div class="card grey lighten-4">
                            <div class="card-content black-text">
                                <span class="card-title">Senior Leadership</span>
                                <p>TBD</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col s12">
                        <div class="card grey lighten-4">
                            <div class="card-content black-text">
                                <span class="card-title">Coaches</span>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td class="name">
                                                Michael Abramson (<a href="mailto:micabra@bergen.org"
                                                    >micabra@bergen.org</a
                                                >)
                                            </td>
                                            <td>
                                                Dr. Abramson has been working with the Math Team since 2005. As a
                                                student of contest writer Steven Conrad, he was a top-ten finisher on
                                                the USAMO, finished second at ARML, and attended the prestigious Math
                                                Olympiad Program (MOP) twice as a student and twice as a counselor.
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="name">
                                                Jonathan Pinyan (<a href="mailto:jonpin@bergen.org">jonpin@bergen.org</a
                                                >)
                                            </td>
                                            <td>
                                                Mr. Pinyan is a 2003 alumnus of the Bergen County Academies, and has
                                                taught at the school since 2013. As a member of the BCA Math Team, Mr.
                                                Pinyan competed at ARML seven times, took the USAMO five times, and
                                                earned a perfect score on the AMC-12 in 2003. After receiving a
                                                bachelor's degree from Washington University and a teaching
                                                certification from Ramapo, Mr. Pinyan returned to BCA, where he has been
                                                teaching and coaching Math Team since 2013.
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="name">Ian Askins</td>
                                            <td>
                                                Mr. Askins is a 2009 alumnus of the Bergen County Academies. He has
                                                taught at the summer math camp and worked with the Math Team since 2014.
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="name">Dan Plotnick</td>
                                            <td>
                                                Mr. Plotnick is a former student of Mr. Holbrook at Freeport High School
                                                on Long Island. Dan competed in the early years of ARML and NYSML,
                                                attended MOP twice as well as the Hampshire College summer program, and
                                                studied mathematics at Harvard College.
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="name">Joan Vieni</td>
                                            <td>
                                                Mrs. Vieni has been a Math Team coach for over a decade and has been
                                                teaching in the district since 1999. Mrs. Vieni is very excited to see
                                                you all and share her love for math!
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="name">Keith Kaplan</td>
                                            <td>
                                                Mr. Kaplan has been a coach of the Math Team since 2015 and has been
                                                teaching in the district since 2012.
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="name">Joe Holbrook</td>
                                            <td>
                                                Joe Holbrook was the original coach of the AAST Math Team, and led it
                                                from the school's founding in 1992 until his 2010 death. He remains an
                                                inspiration to us all, and we strive to live up to his idea that Math
                                                Team is not just for the best, but that all students have something to
                                                gain from competition math, and all students are welcome at all Math
                                                Team events, whenever possible.
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <br />
            <br />
            <br />
            <br />
        </main>
</LegacyLayout>
