---
import SiteLayout from "../layouts/SiteLayout.astro";
---

<SiteLayout title="Archive" styles={["/css/archive.css"]}>
<main id="main-content">
            <!-- FIND GOOD PICTURES!!! -->
            <div class="parallax-container">
                <div class="parallax"><img
                        src="/images/mt_members_papers.JPG"
                        alt="Math team papers"></div>
            </div>
            <div class="container">
                <h3><i class="material-icons" style="font-size: 1.2em;">archive</i>
                    Archive</h3>
                This archive contains materials from past Math Team meetings.

                <div class="section">
                    <h3>
                        2025-26
                    </h3>
                    <iframe
                                src="https://drive.google.com/embeddedfolderview?id=1AzUckiOOoys5-WYspIdHJVEoDg8_ZaWU#list"
                                style="width:90%; height:150px; border:0;">
                    </iframe>
                </div> 

                <div class="section">
                    <h3>
                        2024-25
                    </h3>
                    <iframe
                                src="https://drive.google.com/embeddedfolderview?id=1KtOf9X0HbgndtO6_JRAaPW13vhLVAE-u#list"
                                style="width:90%; height:150px; border:0;">
                    </iframe>
                </div> 

                <div class="section">
                    <h3>
                        2023-24
                    </h3>
                    <iframe
                                src="https://drive.google.com/embeddedfolderview?id=1WUMPiSiIewEE-RVD4REF5efEfYPnQ-oe#list"
                                style="width:90%; height:150px; border:0;">
                    </iframe>
                </div> 

                <div class="section">
                    <h3>
                        2022-23
                    </h3>
                    <iframe
                                src="https://drive.google.com/embeddedfolderview?id=1MQzyt1-eq8sDg-sVUeQUOHrsKW76FfcV#list"
                                style="width:90%; height:150px; border:0;">
                    </iframe>
                </div>
                
                <div class="section">
                    <h3>
                        2021-22
                    </h3>
                    <div class="row">
                        <div class="col s12 m6">
                            <h4>
                                Introductory Track
                            </h4>
                            <br>
                            <h5>Algebra</h5>
                            <iframe
                                src="https://drive.google.com/embeddedfolderview?id=1QnYgUJYi_xwYYCNhrKIGO851eOF2SXfK#list"
                                style="width:90%; height:150px; border:0;"></iframe>
                            <h5>Combinatorics</h5>
                            <iframe
                                src="https://drive.google.com/embeddedfolderview?id=1VSyTUAObvgj1X0fpgojuZwxTtHgdZ0rJ#list"
                                style="width:90%; height:150px; border:0;"></iframe>
                            <h5>Geometry</h5>
                            <iframe
                                src="https://drive.google.com/embeddedfolderview?id=1Kp-dhLjU8ysbuLPEu2b-4zGiA4XXnB4v#list"
                                style="width:90%; height:150px; border:0;"></iframe>
                            <h5>Number Theory</h5>
                            <iframe
                                src="https://drive.google.com/embeddedfolderview?id=1y111yodSDiGJCxHpknhLRml1DF73sjgO#list"
                                style="width:90%; height:150px; border:0;"></iframe>
                        </div>
                        <div class="col s12 m6">
                            <h4>
                                Intermediate Track
                            </h4>
                            <br>
                            <h5>Algebra</h5>
                            <iframe
                                src="https://drive.google.com/embeddedfolderview?id=1TnX3uE3qPsHcDtxClcFJcQFqZGe9DumM#list"
                                style="width:90%; height:150px; border:0;"></iframe>
                            <h5>Combinatorics</h5>
                            <iframe
                                src="https://drive.google.com/embeddedfolderview?id=1tbxAkMpQOcbKP_J_lq6i_x7Qs5mFHTcd#list"
                                style="width:90%; height:150px; border:0;"></iframe>
                            <h5>Geometry</h5>
                            <iframe
                                src="https://drive.google.com/embeddedfolderview?id=1CxdcAVUcT2TfmfhC56B1dm5qb1DMN5m_#list"
                                style="width:90%; height:150px; border:0;"></iframe>
                            <h5>Number Theory</h5>
                            <iframe
                                src="https://drive.google.com/embeddedfolderview?id=1hbU_GvlmscPp2p-hEEkAwt-ridIWtwCp#list"
                                style="width:90%; height:150px; border:0;"></iframe>
                        </div>
                    </div>
                </div>

                <br>
                <br>
                <br>

                <div class="section">
                    <h3>
                        2020-21
                    </h3>
                    <div class="row">
                        <div class="col s12 m6">
                            <h4>
                                Introductory Track
                            </h4>
                            <br>
                            <h5>Algebra</h5>
                            <iframe
                                src="https://drive.google.com/embeddedfolderview?id=14fDyhgnhBFTvFMep30NOLzp67CNcwGGd#list"
                                style="width:90%; height:150px; border:0;"></iframe>
                            <h5>Combinatorics</h5>
                            <iframe
                                src="https://drive.google.com/embeddedfolderview?id=1bBy1L17Q2x3WymV8Lov3olZ7Txb7GpUK#list"
                                style="width:90%; height:150px; border:0;"></iframe>
                            <h5>Geometry</h5>
                            <iframe
                                src="https://drive.google.com/embeddedfolderview?id=1ckLO4ZAsUfmjHY1SMeYTnHalFwLFHUOM#list"
                                style="width:90%; height:150px; border:0;"></iframe>
                            <h5>Number Theory</h5>
                            <iframe
                                src="https://drive.google.com/embeddedfolderview?id=1WcTEgL_YdbeW0VCdhxHHw_yE3BIiurph#list"
                                style="width:90%; height:150px; border:0;"></iframe>
                        </div>
                        <div class="col s12 m6">
                            <h4>
                                Intermediate Track
                            </h4>
                            <br>
                            <h5>Algebra</h5>
                            <iframe
                                src="https://drive.google.com/embeddedfolderview?id=1HXwrqgGTTssFOM8LqqMNzxVa38Gn0Cub#list"
                                style="width:90%; height:150px; border:0;"></iframe>
                            <h5>Combinatorics</h5>
                            <iframe
                                src="https://drive.google.com/embeddedfolderview?id=1yAq7JWgNWTEsS6dWId8MT6b3KNcD9ggA#list"
                                style="width:90%; height:150px; border:0;"></iframe>
                            <h5>Geometry</h5>
                            <iframe
                                src="https://drive.google.com/embeddedfolderview?id=17FHnMb_CO7LOZ6C2AD_eqQVFBAdPLvJ4#list"
                                style="width:90%; height:150px; border:0;"></iframe>
                            <h5>Number Theory</h5>
                            <iframe
                                src="https://drive.google.com/embeddedfolderview?id=1AaiCM_6vn-bEmqB1U2CKiEXdBFZ8Wzgz#list"
                                style="width:90%; height:150px; border:0;"></iframe>
                        </div>
                    </div>
                </div>

                <br>
                <br>
                <br>

                <div class="section">
                    <h3>2019-20</h3>
                    <div class="row">
                        <div class="col s12 m6">
                            <h5>Handouts</h5>

                            <iframe
                                src="https://drive.google.com/embeddedfolderview?id=1R0Kf6bVuG20iHN6ukwcypofUQn1xRimD#list"
                                style="width:100%; height:300px; border:0;"></iframe>
                        </div>
                        <div class="col s12 m6">
                            <h5>Past Contests</h5>

                            <iframe
                                src="https://drive.google.com/embeddedfolderview?id=17Q2MUSuIGT2VboH0JuFWC11xi6NEMbwQ#list"
                                style="width:100%; height:300px; border:0;"></iframe>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col s12 m6">
                            <h5>Combinatorics Summer Lectures</h5>

                            <iframe
                                src="https://drive.google.com/embeddedfolderview?id=1xuWwswVU21c-63Pq1GQdcpoYcsI8ZOiq#list"
                                style="width:100%; height:300px; border:0;"></iframe>
                        </div>
                    </div>

                    <h4>JHMMC</h4>

                    In addition to our handouts, the math team is also
                    responsible for writing all the problems to the Joe
                    Holbrook Memorial Math Competition (JHMMC), an annual
                    math
                    competition for elementary and middle schoolers
                    in 4th to 8th grade. To view our past written problems
                    and
                    solutions, please visit the{" "}<a
                        class="handout-link"
                        href="https://holbrook.bergen.org/archive">Archive</a>
                    {" "}page of the{" "}<a
                        href="https://holbrook.bergen.org/"
                        class="handout-link">JHMMC website</a>.
                </div>
            </div>
            <br>
            <br>
            <br>
            <br>
        </main>
</SiteLayout>
