---
import SiteLayout from "../layouts/SiteLayout.astro";
---

<SiteLayout title="Resources" styles={["/css/info.css"]}>
<main id="main-content">
            <!-- FIND GOOD PICTURES!!! -->
            <div style="width: 90%; margin: 0 auto;">
                <div class="row">
                    <div class="col hide-on-small-only m4 l2">

                        <div class="toc-wrapper pushpin"
                            id="table-of-contents-id">
                            <div style="height: 1px;">
                                <h3 class="show-on-large hide-on-med-and-down"
                                    style="font-size: 2.7em;">Contest Prep</h3>
                                <h4 class="show-on-medium hide-on-small-only
                                    hide-on-large-only">Contest Prep</h4>
                                <ul class="section table-of-contents">
                                    <li><a href="#lecture">Lecture Guide</a></li>
                                    <li><a href="#math-programs">Math Programs</a></li>
                                    <li><a href="#resources-header">Sources</a></li>
                                    <li><a href="#amc-header">The AMC</a></li>
                                    <li><a href="#about-header"
                                            style="text-indent: 1em;">About</a></li>
                                    <li><a href="#format-header"
                                            style="text-indent: 1em;">Format</a></li>
                                    <li><a href="#structure-header"
                                            style="text-indent: 1em;">Structure</a>
                                    </li>
                                    <li><a href="#registration-header"
                                            style="text-indent: 1em;">Registration</a>
                                    </li>
                                    <li><a href="#strategy-header"
                                            style="text-indent: 1em;">Strategies</a>
                                    </li>
                                    <li><a href="#prepare-header"
                                            style="text-indent: 1em;">How to
                                            Prepare</a>
                                    </li>
                                    <li><a href="#aime-header">The AIME</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>



                    <div class="col s12 offset-m4 m7 offset-l1 l7">
                        <div id="lecture" class = "section scrollspy">
                            <h4><i class="material-icons" style="font-size:
                                1.2em;">co_present</i> Lecture Guide</h4>
                                <p><i class="material-icons">access_time</i> Updated
                                    February 4, 2024</p>
                                <p>
                                    For interested students, BCAMT leadership 
                                    has created a guide to to giving a lecture. Please see Mr. Pinyan's email to
                                    sign up to lecture.
                                </p>
                                <ul class="collection">
                                    <li class="collection-item"><a
                                            href="https://drive.google.com/file/d/1rFOHwskMw0bZ7ESw7sQcIn3egxJENiks/view?usp=sharing" target="_blank">
                                            BCA Math Team Making a Lecture Guide
                                        </a></li>
                                </ul>

                        </div>
                        <div id="math-programs" class = "section scrollspy">
                            <h4><i class="material-icons" style="font-size:
                                1.2em;">beach_access</i> Math Summer Programs</h4>
                                <p><i class="material-icons">access_time</i> Updated
                                    January 16, 2025</p>
                                <p>
                                    For interested students, BCAMT leadership 
                                    has created a guide to math summer enrichment
                                    programs.
                                </p>

                                <ul class="collection">
                                    <li class="collection-item"><a
                                            href="https://docs.google.com/document/d/1Ym2HbfcXsf9_Soyq2wlcfK7wh7bNLEXAlVRVsbIZ_DM/edit?usp=sharing" target="_blank">
                                            Math Summer Programs 2025 Brief
                                        </a></li>
                                </ul>

                                <p>
                                    Part of this information was also covered briefly during
                                    Session 1 of the 2023 Research Information Session.
                                    The presentation includes information about 
                                    year-round programs and those specific to research.
                                    For more general information, please see the 
                                    <a href ="research.html" target="_blank">Research</a>
                                    section of the website.
                                </p>
                                <ul class="collection">
                                    <li class="collection-item"><a
                                            href="https://youtu.be/5QfhhXytIRM?si=8hYhnAsrgZWGfxMD&t=944" target="_blank">
                                            Presentation on Math Programs (15:44 - 23:09)
                                        </a></li>
                                </ul>
                        </div>

                        <div id="resources-header" class="section scrollspy">
                            <h4><i class="material-icons" style="font-size:
                                    1.2em;">library_books</i> Sources</h4>
                            <p><i class="material-icons">access_time</i> Updated
                                January 11, 2020</p>
                                <!-- Last done January 11, 2020 LOL -->
                            <p>While students can refer to our archive to review
                                or practice various topics, the following
                                resources are also recommended for <a
                                    href="#amc-header">AMC</a> preparation:</p>
                            <ul class="collection">
                                <li class="collection-item">
                                    Mr. Plotnick’s links for AMC 10 and 12:
                                    <ul class="collection">
                                        <li class="collection-item"><a
                                                href="https://www.isinj.com/mt-amc10/">AMC
                                                10</a>
                                        </li>
                                        <li class="collection-item"><a
                                                href="https://www.isinj.com/mt-amc12/">AMC
                                                12</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="collection-item"><a
                                        href="https://artofproblemsolving.com/wiki/index.php/AMC_Problems_and_Solutions">Past
                                        AMC
                                        problems</a></li>
                                <li class="collection-item"><a
                                        href="https://artofproblemsolving.com/wiki/index.php/Mock_AMC">List
                                        of many AoPS Mock AMCs</a></li>
                                <li class="collection-item"><a href="/archive">BCA
                                        Math Team Archive, with lectures and
                                        problem
                                        sets</a></li>
                                <li class="collection-item"><a
                                        href="https://artofproblemsolving.com/alcumus">AoPS
                                        Alcumus</a>
                                    (change the topic/difficulty!)</li>
                                <li class="collection-item"><a
                                        href="https://artofproblemsolving.com/ftw">AoPS
                                        FTW!</a></li>
                                <li class="collection-item"><a
                                        href="https://amc.edfinity.com/">MAA’s
                                        old "AMC Advantage"
                                        problem
                                        sets</a></li>
                                <li class="collection-item"><a
                                        href="https://drive.google.com/file/d/0B8eQveLibOFESklfOXNmQm0zV1lNMDI4NzlucmRLdEJTbEFv/view?usp=sharing">AMC
                                        Formula Sheet</a></li>
                                <li class="collection-item">Mr. Plotnick's Math
                                    Team CD (ask for a copy)</li>
                            </ul>
                        </div>
                        <p>The following resources are recommended for <a
                                href="#aime-header">AIME</a> preparation:</p>
                        <ul class="collection">
                            <li class="collection-item"><a
                                    href="https://www.isinj.com/mt-aime/">Mr.
                                    Plotnick's link for AIME</a></li>
                            <li class="collection-item"><a
                                    href="https://drive.google.com/file/d/1v7tj-0FNNhWi7qnoRE0eNYVvQtBfGYbo/view?usp=sharing">BOGTRO's
                                    AIME syllabus</a></li>
                            <li class="collection-item"><a
                                    href="https://drive.google.com/file/d/1xQZ9FMjCSUZmYNuiIPmGbycZw67fsvGf/view?usp=sharing">"Preolympiad
                                    Math" handout, with AIME problems sorted by
                                    subject</a></li>
                            <li class="collection-item"><a
                                    href="https://artofproblemsolving.com/wiki/index.php/AIME_Problems_and_Solutions">Past
                                    AIME problems</a></li>
                            <li class="collection-item"><a
                                    href="https://drive.google.com/file/d/119pHOoq_4TcGzfV3WgMzhwPwsCDALphc/view?usp=sharing">AIME
                                    test-taking strategies</a></li>
                            <li class="collection-item"><a
                                    href="https://drive.google.com/drive/folders/1gTNFJkAgGY9bP4XL1Y3Y-pcbiDXx8V3x?usp=sharing">djmathman’s
                                    compilation of AIME-like problems</a></li>
                        </ul>
                        <div id="amc-header" class="section scrollspy">
                            <h4>American Mathematics Competitions</h4>
                            <p><i class="material-icons">access_time</i> Updated
                                January 11, 2020</p>
                        </div>
                        <div id="about-header" class="section scrollspy">
                            <h5><i class="material-icons" style="font-size:
                                    1.3em;">info_outline</i> About</h5>

                            <p>The <a
                                    href="https://www.maa.org/math-competitions">American
                                    Mathematics Competitions</a>,
                                more commonly known as the AMC, is a highly
                                prestigious mathematical examination taken by
                                students not only in the US, but all over the
                                world. It is sponsored by the Mathematical
                                Association of America. If a student does well
                                on the AMC (more details in the <a
                                    href="#structure-header">Structure</a>
                                section), he or she is then eligible to take the
                                AIME, or American Invitational Mathematics
                                Examination, which is the second round of the
                                MAA
                                series of contests.</p>
                            <p>Colleges such as the Massachusetts Institute of
                                Technology, California Institute of
                                Technology, Carnegie Mellon University, Brown
                                University, and Yale University reserve a
                                separate <em>optional</em> space on their
                                applications for AMC or AIME scores.</p>
                        </div>

                        <div id="format-header" class="section scrollspy">
                            <h5><i class="material-icons" style="font-size:
                                    1.3em;">format_list_bulleted</i> Format</h5>
                            <p>The examination consists of 25 questions to be
                                solved in 75 minutes. It is multiple choice,
                                with 5 choices per question. Correct answers
                                receive 6 points,
                                blank
                                answers receive 1.5 points, and incorrect
                                answers receive 0 points (there is a penalty for
                                guessing!). The AMC is scored out of
                                150 points.
                            </p>
                        </div>
                        <div id="structure-header" class="section scrollspy">
                            <h5><i class="material-icons" style="font-size:
                                    1.3em;">assignment</i> Structure</h5>
                            <p>There are two types of AMCs: the AMC 10 and the
                                AMC 12. The AMC 10 is for 10th graders and
                                below,
                                while
                                the AMC 12 is for 12th graders and below. As a
                                BCA rule, if you are in 10th grade or below,
                                you
                                must
                                take the AMC 10. If you are in 11th or 12th
                                grade, you must take the AMC 12.</p>
                            <p>There are two of each AMC, called the "A" and "B"
                                versions. The AMC 10A and AMC 12A will take
                                place
                                on
                                Thursday, January 30th. The AMC 10B and AMC 12B
                                will take place on Wednesday, February 5th.
                                You
                                can
                                take
                                both the A and B versions, and you are
                                encouraged to! In fact, taking both exams
                                increases
                                your
                                chance
                                of qualifying for the AIME, the next round of
                                math contests.</p>
                                <p>To
                                    qualify
                                    for
                                    the
                                    AIME, you must receive a score in the top
                                    2.5% of AMC 10 takers, or the top 5% of AMC
                                    12
                                    takers.
                                    This roughly translates to a score of 120 on
                                    the AMC 10 and a score of 100 on the AMC
                                    12,
                                    though
                                    the
                                    cutoff varies by year.</p>
                            </div>
                            <div id="registration-header" class="section
                                scrollspy">
                                <h5><i class="material-icons" style="font-size:
                                        1.3em;">assignment_ind</i> Registration</h5>
                                <p>To sign-up, check Dr. Abramson’s email for
                                    our 1/11 meeting. If you are in 10th grade
                                    or
                                    below,
                                    sign-up for the AMC 10A and the AMC 10B. If
                                    you are in 11th or 12th grade, sign-up for
                                    the
                                    AMC
                                    12A
                                    and the AMC 12B. Do this ASAP!</p>
                            </div>
                            <div id="strategy-header" class="section scrollspy">
                                <h5><i class="material-icons" style="font-size:
                                        1.3em;">whatshot</i> Strategies</h5>
                                <p>With the format of the AMCs out of the way,
                                    let’s discuss strategies.</p>
                                <ul class="collection">
                                    <li class="collection-item">Use general
                                        test-taking skills: don’t rush, but
                                        don’t get stuck
                                        either.
                                        Keep moving, and come back to problems
                                        you’ve skipped. Feel free to jump
                                        around;
                                        sometimes
                                        there
                                        are easy problems late in the test!</li>
                                    <li class="collection-item">If it helps,
                                        bring a watch to keep track of time.
                                        (Don’t bring a
                                        smartwatch!)</li>
                                    <li class="collection-item">Allot some time
                                        at the end of the test to check your
                                        work.</li>
                                    <li class="collection-item">Pace yourself
                                        based on your target score. If you’ve
                                        solved 19
                                        problems
                                        with 30 minutes left and your goal is to
                                        make AIME, prioritize checking over
                                        attempting
                                        new
                                        problems.</li>
                                    <li class="collection-item">If you can use
                                        process of elimination to get the answer
                                        choices
                                        down
                                        to
                                        2 or 3 possibilities, guess! If you
                                        can’t eliminate many answers, leave it
                                        blank and
                                        claim
                                        your
                                        1.5 points.</li>
                                    <li class="collection-item">Bring geometry
                                        tools! Only rulers and protractors are
                                        allowed.
                                    </li>
                                    <li class="collection-item">If you’re stuck
                                        on a geometry problem, try drawing a
                                        diagram and
                                        measuring the distances involved. Then
                                        you can estimate the answer. (If a
                                        diagram is
                                        provided,
                                        measure the lengths on their diagram!)</li>
                                </ul>
                            </div>
                            <div id="prepare-header" class="section scrollspy">
                                <h5><i class="material-icons" style="font-size:
                                        1.3em;">book</i> How to Prepare</h5>
                                <p>We still have a few weeks until the AMCs, so
                                    let’s discuss how to prepare.
                                    First of all, ask for help! The Math Team
                                    Coaches and senior members can provide
                                    individual
                                    training
                                    advice. Here are some essential tips:
                                </p>
                                <ul class="collection">
                                    <li class="collection-item">Study your
                                        weakest subjects with the books in the
                                        resources
                                        above
                                        (especially Mr. Plotnick’s links and the
                                        AoPS books). You can find books online
                                        or by
                                        asking
                                        the
                                        Math Team Coaches and senior members.</li>
                                    <li class="collection-item">Practice
                                        problem-solving with the resources
                                        above. </li>
                                    <li class="collection-item">Take timed tests
                                        to gain test-taking experience.</li>
                                    <li class="collection-item">After taking a
                                        practice test, go over your mistakes and
                                        study
                                        the
                                        problems you didn’t get to attempt. Keep
                                        a notebook of your mistakes and review
                                        it
                                        daily.
                                    </li>
                                </ul>
                                <p>Keep in mind that you have been preparing all
                                    this time! We’ve covered a lot in Math Team
                                    since
                                    the
                                    start of the year. So it’s just a matter of
                                    doing a little more for this specific
                                    contest.
                                </p>
                            </div>
                            <div id="aime-header" class="section scrollspy">
                                <h4>American Invitational Mathematics
                                    Examination</h4>
                                <p><i class="material-icons">access_time</i>
                                    Updated March 9, 2020</p>
                            </div>

                            <div id="about-aime-header" class="section
                                scrollspy">
                                <h5><i class="material-icons" style="font-size:
                                        1.3em;">info_outline</i> About</h5>

                                <p>The American Invitational Mathematics
                                    Examination, commonly referred to as the
                                    AIME, is the next round of contests in the
                                    MAA contest math sequence.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <br>
            </main>
</SiteLayout>
