---
import LegacyLayout from "../layouts/LegacyLayout.astro";
---

<LegacyLayout title="Awards" styles={["/css/news.css"]}>
<main>
            <!-- FIND GOOD PICTURES!!! -->
            <!-- <div class="parallax-container">
        <div class="parallax">
            <img src="images/wmtc_awards.jpg" alt="2018 WMTC Awards">
        </div>
    </div> -->
            <div class="slider">
                <ul class="slides">
                    <li>
                        <img src="images/WMTC_Korea_hotel.jpg" />
                    </li>
                    <li>
                        <img src="images/wmtc_korea_bridge.jpg" />
                    </li>
                    <li>
                        <img src="images/wmtc_awards.jpg" />
                    </li>
                    <li><img src="/images/arml23/arml23group.jpg" /></li>
                </ul>
            </div>

            <div class="container">
                <h3>
                    <i class="material-icons" style="font-size: 1.2em">trending_up</i> Historical Results and Awards
                </h3>

                <div class="row">
                    <div class="col s12 m6">
                        <div class="icon-block">
                            <h2 class="center lime-text text-darken-2 stats-heading"><strong>4</strong></h2>
                            <h5 class="center">IMO Medalists</h5>

                            <p class="light">
                                Hyunsoo Kim was a member of the
                                <a href="https://www.imo-official.org/team_r.aspx?code=USA&year=2005"> 2005 US Team </a
                                >, and won a <span style="color: silver">Silver Medal</span>. Ryan Alweiss won a
                                <span style="color: gold">Gold Medal</span> as part of the
                                <a href="https://www.imo-official.org/team_r.aspx?code=USA&year=2015"> 2015 US Team </a
                                >, which won the competition for the first time in over two decades. Sebastian Jeon was
                                a member of the
                                <a href="https://www.imo-official.org/team_r.aspx?code=CAN&year=2019">
                                    2019 Canada IMO Team
                                </a>
                                and won a <span style="color: #cd7f32">Bronze Medal</span>. Marvin Mao was a member of
                                the
                                <a href="https://www.imo-official.org/team_r.aspx?code=CAN&year=2023">
                                    2023 Canada IMO Team
                                </a>
                                and won a <span style="color: silver">Silver Medal</span>.
                            </p>
                        </div>
                    </div>
                    <div class="col s12 m6">
                        <div class="icon-block">
                            <h2 class="center lime-text text-darken-2 stats-heading"><strong>10</strong></h2>
                            <h5 class="center">Perfect Scores on AMC 10/12/AHSME</h5>
                            <p class="light">
                                Club 150, for perfect scores on the AHSME/AMC-12: Abhiram Vijay (1998) and Jonathan
                                Pinyan (2003-B); Junior Club 150, for perfect scores on the AMC-10: Hyunsoo Kim
                                (2002-A), Harry Altman (2003-B), Benjamin Yang (2005-B), Andrew Cai (2009-A), Alex Zhu
                                (2009-A), Michael Tan (2009-B), Daniel Kim (2015-A), Sebastian Jeon (2017-B).
                            </p>
                        </div>
                    </div>
                    <!-- <div class="col s4"></div> -->
                </div>

                <h5>American Mathematics Competitions (AMC/AHSME, AIME, USAMO)</h5>
                <p>
                    The BCA Math Team has won the Charles T. Salkind Memorial Silver Cup as AMC National Champions three
                    times, in 1997, 1998, and 2005. The team has also won three Bronze Cups as regional champions (1999,
                    2004, 2009). Each year, the Team has dozens of qualifiers for the American Invitational Mathematics
                    Exam. Students with particularly high scores on the AMC will have their names entered on a trophy
                    donated by the Math Boosters Club. This includes all of BCA's perfect scores on the AMC contests.
                </p>
                <p>
                    <em>Congratulations</em> to Sebastian Jeon on his terrific performance on the 2018 MAA series.
                    Sebastian had a perfect score on the first round competition, the AMC 10B, and was one of eleven
                    students nationwide named winners of the third round, the USA Junior Mathematics Olympiad! Sebastian
                    was invited to the Math Olympiad Program to train as a potential future member of the US Math Team.
                    In addition, BCA and its math team had a number of other qualifiers to the math olympiads. Hyeongmin
                    (Daniel) Kim and Khunpob Sereesuchart qualified for the senior USAMO, while Sunay Joshi, Sameer Pai,
                    Gregory Pylypovych, and Siwen (Simon) Sun joined Sebastian in taking the junior USAJMO.
                </p>
            </div>
            <div class="slider">
                <ul class="slides">
                    <li><img src="/images/t1_reduced_alt.png" /></li>
                    <li><img src="/images/t2_reduced.jpg" /></li>
                    <li><img src="/images/t3_reduced.jpg" /></li>
                </ul>
            </div>
            <p class="center-align">Above: 2019 10th World Mathematics Team Championships in Seoul, South Korea</p>
            <div class="container">
                <h5>American Regions Math League</h5>
                <div class="row valign-wrapper hide-on-small-only">
                    <p class="col m3 l2">
                        <img
                            src="images/Math_national_champ_2016.jpg"
                            alt="2016
                            ARML Individual Champion"
                            class="responsive-img materialboxed hide-on-small-only"
                        />
                    </p>
                    <p class="col l4">
                        <img
                            src="images/Math_winner_2016.jpg"
                            alt="2016 ARML
                            Individual Champion"
                            class="responsive-img materialboxed hide-on-med-and-down"
                        />
                    </p>
                    <p class="col m9 l6">
                        Each year, the final competition – and the biggest team event – on our calendar is ARML. The BCA
                        Math Team has placed in the top ten on five occasions in the past decade, a feat made more
                        impressive by the fact that we are competing not against other schools, but entire regions like
                        New York City, Eastern Massachusetts, San Francisco Bay Area, and even the entire state of
                        Texas! We attend ARML at Penn State, but the competition also takes place simultaneously at the
                        Universities of Georgia, Iowa, and Nevada-Las Vegas. BCA's high finishes are: 10th place in
                        2001, 9th place in 2003, 8th place in 2004, 6th place in 2005, and 9th place in 2010. In 2017,
                        BCA's Hyeongmin (Daniel) Kim was the individual champion.
                    </p>
                </div>

                <p class="col s12 hide-on-med-and-up">
                    Each year, the final competition – and the biggest team event – on our calendar is ARML. The BCA
                    Math Team has placed in the top ten on five occasions in the past decade, a feat made more
                    impressive by the fact that we are competing not against other schools, but entire regions like New
                    York City, Eastern Massachusetts, San Francisco Bay Area, and even the entire state of Texas! We
                    attend ARML at Penn State, but the competition also takes place simultaneously at the Universities
                    of Georgia, Iowa, and Nevada-Las Vegas. BCA's high finishes are: 10th place in 2001, 9th place in
                    2003, 8th place in 2004, 6th place in 2005, and 9th place in 2010. In 2017, BCA's Hyeongmin (Daniel)
                    Kim was the individual champion.
                </p>

                <h5>Harvard/MIT Math Tournament</h5>

                <p>
                    One of the oldest college-run competitions, this tournament (which alternates between the two
                    campuses) is held in February. BCA finished second place in 2001, and took third place in 2010 and
                    each year from 2002-05.
                </p>

                <h5>Princeton: The Princeton Undergraduate Mathematics Competition (PUMaC)</h5>

                <p>
                    This is held each fall, and is the closest destination among our trips. In 2014, we had our best
                    finish ever at second place. The BCA Math Team finished tenth at PUMaC 2021*. Furthermore, we
                    finished 8th on the Team Round and 9th overall at PUMaC 2022*.
                </p>
                <h5>Carnegie Mellon Informatics and Mathematics Competition (CMIMC)</h5>
                <p>At CMIMC 2023, BCA1 finished 4th on the Theoretical Computer Science (TCS) round and 7th overall.</p>
                <h5>World Mathematics Team Championship (WMTC)</h5>
                <p>
                    The math team has also competed at international events, including Beijing in 2013, Seoul in 2016,
                    Bulgaria in 2018, Seoul in 2019, and recently, Seoul in 2023. In fall of 2023, the BCA Math Team
                    visited Seoul, South Korea to compete in the World Mathematics Team Championship. Students had the
                    opportunity to learn about Korea's vast cultural heritage, as well as explore various tourist
                    destinations. All four of our teams did a wonderful job and BCA Teams 1, 2, and 3 placed in the top
                    30th percentile. We had 4 Gold Medalists, 12 Silver Medalists, and 6 Bronze Medalists. A special
                    congratulations to BCA Team 1 for placing 3rd overall in the Advanced Division as well as to Marvin
                    Mao for winning 1st place individually!
                </p>
                <br>
                <div class="center-align hide-on-med-and-down show-on-large">
                    <iframe
                        width="50%"
                        height="400px"
                        src="https://drive.google.com/file/d/1R1QDlS-mmeu416Bfomtr2L1V4cJTodd9/preview"
                        allow="accelerometer; autoplay; encrypted-media;
                        gyroscope; picture-in-picture"
                        allowfullscreen
                    ></iframe>
                </div>

                <div class="center-align show-on-medium-and-down hide-on-large-only">
                    <iframe
                        width="100%"
                        height="300px"
                        src="https://drive.google.com/file/d/1R1QDlS-mmeu416Bfomtr2L1V4cJTodd9/preview"
                        allow="accelerometer; autoplay; encrypted-media;
                        gyroscope; picture-in-picture"
                        allowfullscreen
                    ></iframe>
                </div>
                <div class="center-align">
                    BCA Math Team at the 2023 WMTC. Thanks to Joy Ren for editing the video!<br />Song: Gradation by
                    10cm
                </div>
                <br>

                <div class="center-align hide-on-med-and-down show-on-large">
                    <iframe
                        width="50%"
                        height="400px"
                        src="https://www.youtube.com/embed/P_52KoVpEkk"
                        allow="accelerometer; autoplay; encrypted-media;
                        gyroscope; picture-in-picture"
                        allowfullscreen
                    ></iframe>
                </div>

                <div class="center-align show-on-medium-and-down hide-on-large-only">
                    <iframe
                        width="100%"
                        height="300px"
                        src="https://www.youtube.com/embed/P_52KoVpEkk"
                        allow="accelerometer; autoplay; encrypted-media;
                        gyroscope; picture-in-picture"
                        allowfullscreen
                    ></iframe>
                </div>
                <div class="center-align">
                    <span
                        >BCA Math Team at the 2019 WMTC. Special thanks to Vivian Tan for recording and editing this
                        video.</span
                    >
                </div>
                <br>
                <div class="center-align hide-on-med-and-down show-on-large">
                    <iframe
                        width="50%"
                        height="400px"
                        src="https://www.youtube.com/embed/vSVIq3SfkdY"
                        allow="accelerometer; autoplay; encrypted-media;
                        gyroscope; picture-in-picture"
                        allowfullscreen
                    ></iframe>
                </div>

                <div class="center-align show-on-medium-and-down hide-on-large-only">
                    <iframe
                        width="100%"
                        height="300px"
                        src="https://www.youtube.com/embed/vSVIq3SfkdY"
                        allow="accelerometer; autoplay; encrypted-media;
                        gyroscope; picture-in-picture"
                        allowfullscreen
                    ></iframe>
                </div>
                <div class="center-align"><span>BCA Math Team at the 2013 WMTC in Beijing.</span>
                </div>

                <h5>Lehigh</h5>

                <p>
                    In the two years we attended the Lehigh University High School Math Tournament, BCA won the award
                    for top overall school, and has had a student in the top three individuals each time.
                </p>

                <h5>Other</h5>
                <p>Other trips the Math Team has taken include Johns Hopkins, Stanford, and Berkeley.</p>

                <br />
                <br />
                <br />
            </div>
        </main>
</LegacyLayout>
