---
import SiteLayout from "../layouts/SiteLayout.astro";
---

<SiteLayout title="Research" styles={["/css/about.css"]}>
<main id="main-content">
        <div class="container">
            <h3><i class="material-icons" style="font-size: 1.2em;">biotech</i>
                Research</h3>


            <p>
                Although the BCA Math Team has been typically geared towards math competitions,
                we have begun a new initiative to inform team members and other highschoolers about the world of
                mathematics research.
                This page details opportunities and
                information about
                math research programs and competitions.
            </p>
            <ul class="collection">
                <li class="collection-item">
                    <h4>2023 Research Information Session</h4>
                    <p>
                        The BCA Math Team ran its first student-led informational session on Math Research for
                        Highschoolers on Friday, August 25th, 2023. The event was four hours with six sessions. 
                        In session 1, Krish Ramkumar introduced math research basics, approaches, programs, and competitions (3:00-3:30). 
                        In session 2, Rushabh Mehta discusses REU experiences and themes of successful projects (3:30-4:00). 
                        In session 3, Michal Lewkowicz covers becoming a first author and securing research opportunities (4:00-4:30). 
                        In session 4, students collaborate on creating research ideas (4:45-5:30). 
                        In session 5, Justin Zhang shares insights on presenting and publishing research (5:30-6:00). 
                        In session 6, we went over interviews with successful researchers. (6:00-6:30).
                        The 'resources' tab has a summary, notes, and the recording of each session. A playlist containing all of the recordings can be found 
                        <a href = "https://youtube.com/playlist?list=PL55wV471ewADGeTGKnP7xKYihztSbFYi7&si=l26DT8LMtwQqyKJL">
                            here.
                        </a>
                        Images of the event can be found in the 'photos' tab.
                    </p>
                 
                    <div class="container">
                        <div class="row"></div>
                        <div class="row">
                            <div class="col s12">
                                <ul class="tabs">
                                    <li class="tab col s6"><a class="active" href="#resources">Resources
                                        </a></li>
                                    <li class="tab col s6"><a href="#photos">Photos
                                        </a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div id="resources" class="col s12">
                        
                        <h5>
                            Session 1
                        </h5>
                        <div class="container">
                            <div class="row">
                                <div class="col s9">
                                    <ul class="tabs">
                                        <li class="tab col s3"><a class="active" href="#summary1">Summary</a></li>
                                        <li class="tab col s3"><a href="#notes1" class="">Notes</a></li>
                                        <li class="tab col s3"><a href="#video1" class="">Video</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div id="summary1" class="col s12">
                            <p>
                                In Session 1, Krish Ramkumar presented "What is Math Research?", setting the base for the rest of
                                the day.
                                He discusses what is math research, ways to approach math research, math programs
                                available,
                                and ways to compete with math research. All research is essentially an inquiry to gain
                                knowledge,
                                while math research has ideas independent of reality. The scientific method is altered slightly, as 
                                mathematical ideas can be proven. 
                                One can approach math research in many ways (Directed Reading, Expository Work, Original Research Work). 
                                Directed reading involves reading papers with mentors  to learn
                                knowledge about research work.
                                Exposition involves more focused reading to find a niche result with write ups
                                being able to submit to journals.
                                Krish also describes the various amounts of math camps and research programs available,
                                with some notable ones being MIT-PRIMES, RSI, and PROMYS.
                                Lastly, Krish discusses ways to compete with math research, such as competitions as
                                ISEF,
                                or conferences and journals to publish work in.
                            </p>
                        </div>
                        <div id="notes1" class="col s12">
                            <p>
                            <ul class="bulleted-list">
                                <li>What is math research?
                                    <ul class="bulleted-list">
                                        <li class="indented">“Inquiry to gain knowledge”</li>
                                        <li class="indented">Common example of research is Scientific Method</li>
                                        <li class="indented">Math research
                                            <ul class="bulleted-list">
                                                <li class="indented">Ideas independent of reality</li>
                                                <li class="indented">Conjectures (patterns that hold)</li>
                                                <li class="indented">Often looks for a new result</li>
                                                <li class="indented">Logical deduction</li>
                                            </ul>
                                        </li>
                                        <li class="indented">Applied Math Research
                                            <ul class="bulleted-list">
                                                <li class="indented">Mathematical modeling, data analysis, simulations
                                                </li>
                                                <li class="indented">Infrequently Revolutionary</li>
                                                <li class="indented">Scientists build off each other</li>
                                                <li class="indented">Results are difficult to achieve</li>
                                                <li class="indented">Months, if not years without results</li>
                                                <li class="indented">Higher entry barriers</li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li>What are ways to approach math research?
                                    <ul class="bulleted-list">
                                        <li class="indented">Directed Reading
                                            <ul class="bulleted-list">
                                                <li class="indented">Work with mentors to read a particular math
                                                    book/paper</li>
                                                <li class="indented">Present summaries of what they have learned</li>
                                                <li class="indented">Helps learn knowledge about research work and learn
                                                    deeply</li>
                                                <li class="indented">However, you do not get to contribute</li>
                                            </ul>
                                        </li>
                                        <li class="indented">Expository Work
                                            <ul class="bulleted-list">
                                                <li class="indented">More focused reading</li>
                                                <li class="indented">More niche result</li>
                                                <li class="indented">Presentation/writeup</li>
                                                <li class="indented">Contributes to math knowledge, writeups can be
                                                    submitted to journals</li>
                                                <li class="indented">However, lots of prerequisites</li>
                                            </ul>
                                        </li>
                                        <li class="indented">Original Research Work
                                            <ul class="bulleted-list">
                                                <li class="indented">Come up with a research problem</li>
                                                <li class="indented">Read extensively about subfield</li>
                                                <li class="indented">Develop a strategy to study the question</li>
                                                <li class="indented">Work on problem/Solve/writeup</li>
                                                <li class="indented">Making a problem is one of the hardest parts</li>
                                                <li class="indented">Choose a non-trivial question</li>
                                                <li class="indented">Find patterns</li>
                                                <li class="indented">Read interesting papers</li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li>What math programs are out there? Which are specific to research?
                                    <ul class="bulleted-list">
                                        <li class="indented">AwesomeMath</li>
                                        <li class="indented">&#123;MathILy, MathILy-Er&#125;</li>
                                        <li class="indented">HCSSiM</li>
                                        <li class="indented">PROMYS</li>
                                        <li class="indented">Ross</li>
                                        <li class="indented">SUMaC</li>
                                        <li class="indented">Canada/USA Mathcamp</li>
                                        <li class="indented">Etc (SWiM, Idea Math, SAMS, HSMC, MMSS, RYSP, Prove It!,
                                            MOP)</li>
                                        <li class="indented">Builds knowledge</li>
                                        <li class="indented">Know your deadlines!</li>
                                        <li class="indented">PRIMES-USA/MIT PRIMES</li>
                                        <li class="indented">Hard problem set</li>
                                        <li class="indented">Huge hourly commitment per week</li>
                                        <li class="indented">Very advanced background needed</li>
                                        <li class="indented">High intensity, High Enrichment</li>
                                        <li class="indented">Find mentors</li>
                                        <li class="indented">Research Science Institute (RSI)</li>
                                        <li class="indented">Rising Seniors only</li>
                                        <li class="indented">Stony Brook University’s Simons Summer Research Program
                                        </li>
                                        <li class="indented">Rising Seniors only</li>
                                        <li class="indented">REUs</li>
                                        <li class="indented">PROMYS (sort of)</li>
                                    </ul>
                                </li>
                                <li>What are ways to compete with math research?
                                    <ul class="bulleted-list">
                                        <li class="indented">Compete for</li>
                                        <li class="indented">College Apps</li>
                                        <li class="indented">Research Programs/Opportunities</li>
                                        <li class="indented">Actionable Deadlines</li>
                                        <li class="indented">Prize Money</li>
                                        <li class="indented">Competitions</li>
                                        <li class="indented">ISEF</li>
                                        <li class="indented">Regeneron STS</li>
                                        <li class="indented">Yau Science Award</li>
                                        <li class="indented">NJAS -> AJAS</li>
                                        <li class="indented">Sharing Research</li>
                                        <li class="indented">Conferences</li>
                                        <li class="indented">Journals</li>
                                        <li class="indented">JSM, JMM, ICIBM, ISSB, IEEE</li>
                                    </ul>
                                </li>
                            </ul>
                            </p>
                        </div>
                        <div id="video1" class="col s12">
                            <div class="center-align hide-on-med-and-down show-on-large">
                                <iframe width="50%" height="400px"
                                    src="https://www.youtube.com/embed/5QfhhXytIRM?si=awk7ORC_KLWhNVjv"
                                    allow="accelerometer; autoplay; encrypted-media;
                                    gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>

                            <div class="center-align show-on-medium-and-down
                                hide-on-large-only">
                                <iframe width="100%" height="300px"
                                    src="https://www.youtube.com/embed/5QfhhXytIRM?si=awk7ORC_KLWhNVjv"
                                    allow="accelerometer; autoplay; encrypted-media;
                                    gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                        </div>

                        <h5>
                            Session 2
                        </h5>
                        <div class="container">
                            <div class="row">
                                <div class="col s9">
                                    <ul class="tabs">
                                        <li class="tab col s3"><a class="active" href="#summary2">Summary</a></li>
                                        <li class="tab col s3"><a href="#notes2" class="">Notes</a></li>
                                        <li class="tab col s3"><a href="#video2" class="">Video</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div id="summary2" class="col s12">
                            <p>
                                Rushabh Mehta (UChicago ‘21; ISEF 3rd place; Regeneron STS Scholar) discusses his
                                experiences at the UChicago REU (Research Experience for Undergraduates),
                                themes of successful math projects he has seen at the Long Island Science Fair, and
                                general
                                advice and resources for Math Research.
                                He provides strategies to develop a research topic, as well as giving sources of
                                knowledge
                                in order for one to learn more.
                                One of his key ideas is that writing up work and receiving feedback lends itself to valuable insights.
                                Rushabh believes that "we are all imposters", and that you should never be afraid to
                                discuss
                                ideas with mentors.
                                In Rushabh’s own words, he says the key point of research is to “explain in a way that
                                makes
                                sense to everyone”. 
                            </p>
                        </div>
                        <div id="notes2" class="col s12">
                            <p>
                                Resources and contact information can be found at <a
                                    href="https://rmehtany.github.io/">https://rmehtany.github.io/</a>.
                            </p>
                            <ul class="bulleted-list">
                                    <li>Think about math 24/7
                                        <ul class="bulleted-list">
                                            <li class="indented">How do you read?</li>
                                            <li class="indented">Same conclusions as author</li>
                                            <li class="indented">Material (understand material)</li>
                                            <li class="indented">Motivation (why present?)</li>
                                            <li class="indented">Inference (predict what the author is going to teach
                                                next)</li>
                                        </ul>
                                    </li>
                                    <li>Rabbit Holes
                                        <ul class="bulleted-list">
                                            <li class="indented">Avoid them</li>
                                            <li class="indented">Exchange between time / what to learn</li>
                                            <li class="indented">Ask mentor as many questions as you need</li>
                                        </ul>
                                    </li>
                                    <li>Learning Places
                                        <ul class="bulleted-list">
                                            <li class="indented">Real Not Complex</li>
                                            <li class="indented">MIT OCW</li>
                                            <li class="indented">PDF Drive</li>
                                            <li class="indented">Math Stack Exchange</li>
                                            <li class="indented">Project Gutenberg</li>
                                            <li class="indented">Youtube</li>
                                        </ul>
                                    </li>
                                    <li>Learn the Lingo
                                        <ul class="bulleted-list">
                                            <li class="indented">Example of not learning the lingo: "Interuniversal
                                                Teichmueller" horror story</li>
                                            <li class="indented">Claimed to prove a,b,c conjecture</li>
                                            <li class="indented">Spent 20 years</li>
                                            <li class="indented">No professor could understand it</li>
                                            <li class="indented">Author laughed at by everyone</li>
                                        </ul>
                                    </li>
                                    <li>Search
                                        <ul class="bulleted-list">
                                            <li class="indented">Convert ideas/keywords in head to people</li>
                                            <li class="indented">Explain like the audience is a 5-year-old</li>
                                            <li class="indented">Approach Zero</li>
                                            <li class="indented">Pi Base</li>
                                            <li class="indented">Sci Lag</li>
                                            <li class="indented">DOAJ</li>
                                            <li class="indented">OEIS</li>
                                            <li class="indented">Banff Math Center</li>
                                            <li class="indented">Zentralblatt Math</li>
                                        </ul>
                                    </li>
                                    <li>Not to produce something new</li>
                                    <li>Produce a newer/better to understand expectation</li>
                                    <li>Bash Away
                                        <ul class="bulleted-list">
                                            <li class="indented">Demo & Visualize</li>
                                            <li class="indented">Use LLM with caution</li>
                                            <li class="indented">Not good tools to produce demonstrations</li>
                                            <li class="indented">Wolfram Alpha</li>
                                            <li class="indented">Sage Cell</li>
                                            <li class="indented">GPT-4</li>
                                        </ul>
                                    </li>
                                    <li>Practice writing papers
                                        <ul class="bulleted-list">
                                            <li class="indented">High school level paper will have >50% background
                                                information, &lt;50% results</li>
                                            <li class="indented">Start in the middle of the paper</li>
                                            <li class="indented">Write introduction last</li>
                                            <li class="indented">MOM test</li>
                                            <li class="indented">If your mother can understand the paper, then it
                                                should be sufficient.</li>
                                            <li class="indented">Helps write introductions</li>
                                            <li class="indented">Get Feedback ASAP</li>
                                            <li class="indented">Detexify</li>
                                            <li class="indented">Quiver</li>
                                            <li class="indented">Overleaf</li>
                                            <li class="indented">Professors</li>
                                        </ul>
                                    </li>
                                    <li>Platforms for type of papers</li>
                                    <li>ArXiv</li>
                                    <li>Join Communities</li>
                                    <li>We are all imposters</li>
                                    <li>Main takeaway: EXPLAIN IN A WAY THAT MAKES SENSE TO EVERYONE!</li>
                                </ul>
                        </div>
                        <div id="video2" class="col s12">
                            <div class="center-align hide-on-med-and-down show-on-large">
                                <iframe width="50%" height="400px"
                                    src="https://www.youtube.com/embed/sZ5Xg4HpoBk?si=NPtV5Crw5QGNBnbN"
                                    allow="accelerometer; autoplay; encrypted-media;
                                    gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>

                            <div class="center-align show-on-medium-and-down
                                hide-on-large-only">
                                <iframe width="100%" height="300px"
                                    src="https://www.youtube.com/embed/sZ5Xg4HpoBk?si=NPtV5Crw5QGNBnbN"
                                    allow="accelerometer; autoplay; encrypted-media;
                                    gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                        </div>
                        <h5>
                            Session 3
                        </h5>
                        <div class="container">
                            <div class="row">
                                <div class="col s9">
                                    <ul class="tabs">
                                        <li class="tab col s3"><a class="active" href="#summary3">Summary</a></li>
                                        <li class="tab col s3"><a href="#notes3" class="">Notes</a></li>
                                        <li class="tab col s3"><a href="#video3" class="">Video</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div id="summary3" class="col s12">
                            <p>
                                Michal Lewkowicz (Yale ‘24) discussed how he was able to become a first author on
                                publication at IEEE MRS 2019
                                and strategies to secure research opportunities. He goes over sample cold emails he has
                                sent
                                and discusses strategies
                                to reach out to professors, post-docs, and PHD students.
                                He believes that conferences are critical for learning about 
                                the research process and everyone should try to attend a conference.
                                He recommends strategies like connecting with student inclusion chairs, navigating the publication
                                cycle,
                                and volunteering (at conferences).
                            </p>
                        </div>

                        <div id="notes3" class="cols12">
                            <ul class="bulleted-list">
                                <li>CONFERENCE WORK IS NOT NECESSARILY GOOD FOR SCIENCE FAIRS & VICE VERSA
                                    <ul class="bulleted-list">
                                        <li class="indented">Science fair is more about practical application and simple
                                            explanation</li>
                                        <li class="indented">Conference work is about incremental advances to science
                                        </li>
                                    </ul>
                                </li>
                                <li>Reach out to PHD/Grad Students</li>
                                <li>Identify your niche</li>
                                <li>Go to conferences
                                    <ul class="bulleted-list">
                                        <li class="indented">Student inclusion chairs & funds</li>
                                        <li class="indented">Vicious Publication Cycle</li>
                                    </ul>
                                </li>
                                <li>Grants / Funding</li>
                                <li>Networking</li>
                                <li>Volunteering</li>
                                <li>Organizational Work</li>
                                <li>Workshops
                                    <ul class="bulleted-list">
                                        <li class="indented">Example: Mini Hackathon</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div id="video3" class="cols12">
                            <div class="center-align hide-on-med-and-down show-on-large">
                                <iframe width="50%" height="400px"
                                    src="https://www.youtube.com/embed/9EM7jj3_7vE?si=Vv-NoYrmEULSCBvR"
                                    allow="accelerometer; autoplay; encrypted-media;
                                    gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>

                            <div class="center-align show-on-medium-and-down
                                hide-on-large-only">
                                <iframe width="100%" height="300px"
                                    src="https://www.youtube.com/embed/9EM7jj3_7vE?si=Vv-NoYrmEULSCBvR"
                                    allow="accelerometer; autoplay; encrypted-media;
                                    gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                        </div>

                        <h5>
                            Session 4
                        </h5>
                        <div class="container">
                            <div class="row">
                                <div class="col s8">
                                    <ul class="tabs">
                                        <li class="tab col s4"><a class="active" href="#summary4">Summary</a></li>
                                        <li class="tab col s4"><a href="#theoremlist" class="">Theorem List</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div id="summary4" class="col s4">
                            <p>
                                Session 4 was a working session.
                                Students developed courses of study for the academic year, collaborating and identifying
                                topics of interest
                                for research, exposition, or reading. Students were guided in choosing their topics,
                                with
                                emphasis being placed on
                                challenging one's ability and having a manageable size of background reading. Examples
                                of
                                topics chosen include
                                Zermelo's theorem (game theory) and loss minimization algorithms in data compression.
                            </p>
                        </div>

                        <div id="theoremlist" class="s4">
                            <p>
                                Michael Klyachman (UChicago '25) provides a list of topics approachable at the
                                expository level.
                            <ul class="bulleted-list">
                                <li>Classification of Platonic Solids (3d, then look at n-D) as well as 3D Archimedean
                                    solids</li>
                                <li>Constructible polygons (the road to Galois theory)</li>
                                <li>Why alternating groups are simple</li>
                                <li>Classification of frieze/wallpaper groups</li>
                                <li>Intro to the complexity zoo (L = NL)</li>
                                <li>Determinants and Resultants (W.R.T systems)</li>
                                <li>Group addition operators (direct product, wreath product, etc.)</li>
                                <li>Look at any of the later chapters of <a
                                        href="https://web.evanchen.cc/napkin.html">Evan Chen's napkin</a></li>
                                <li>Look at anything from the 2022 UChicago REU. Examples include</li>
                                <li class="indented"> <a
                                        href="https://math.uchicago.edu/~may/REU2022/REUPapers/Cao,Jessica.pdf">
                                        Jessica Cao - ERDOS DISTANCE PROBLEMS </a></li>
                                <li class="indented"><a
                                        href="https://math.uchicago.edu/~may/REU2022/REUPapers/Goel.pdf">Ishaan Goel -
                                        INTRODUCTION TO MARTINGALES WITH AN APPLICATION
                                        IN FINANCE</a></li>
                                <li class="indented"><a
                                        href="https://math.uchicago.edu/~may/REU2022/REUPapers/Hu,David.pdf">
                                        David Hu - MARKOV CHAINS IN FINITE STATE SPACES
                                    </a></li>
                                <li class="indented"><a
                                        href="https://math.uchicago.edu/~may/REU2022/REUPapers/Li,Elena.pdf">
                                        Elena Li - THE FERMAT-EULER THEOREM AND ITS APPLICATION TO
                                        PUBLIC KEY CRYPTOGRAPHY
                                    </a></li>
                                <li class="indented"><a
                                        href="https://math.uchicago.edu/~may/REU2022/REUPapers/Zummo.pdf">
                                        Jake Zummo - AN INTRODUCTION TO GEOMETRIC GROUP THEORY
                                    </a></li>
                                <li class="indented"><a
                                        href="https://math.uchicago.edu/~may/REU2021/REUPapers/Baur.pdf">
                                        Eli Baur (2021) - THE APPEAL OF NONSTANDARD ANALYSIS
                                    </a></li>
                                <li class="indented"><a
                                        href="https://math.uchicago.edu/~may/REU2021/REUPapers/Golovanov.pdf">
                                        Rebecca Golovanov (2021) - FINITE FIELDS AND THE MOBIUS FUNCTION
                                    </a></li>
                                <li>Finite state machines and how Google's RE2 works</li>
                                <li>Look at <a
                                        href="https://www.youtube.com/watch?v=cDofhN-RJqg&list=PLnQX-jgAF5pTZXPiD8ciEARRylD9brJXU">3b1b's
                                        Summer of Math Exposition</a> for inspiration</li>

                            </ul>
                            <!-- include all of these theorems -->
                            </p>
                        </div>

                        <h5>
                            Session 5
                        </h5>
                        <div class="container">
                            <div class="row">
                                <div class="col s9">
                                    <ul class="tabs">
                                        <li class="tab col s3"><a class="active" href="#summary5">Summary</a></li>
                                        <li class="tab col s3"><a href="#notes5" class="">Notes</a></li>
                                        <li class="tab col s3"><a href="#video5" class="">Video</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div id="summary5" class="col s12">
                            <p>
                                In Session 5, Justin Zhang (2022 ST Yau Silver medalist; PRIMES ‘22, ‘23) discussed how
                                he
                                presented his
                                research at conferences and published it.
                                Justin goes over his research journey, providing tips applying to research programs and
                                camps.
                                He also discusses his projects and the steps leading up to them.
                                One of Justin's key points is to just get started as your first project will never be
                                perfect.
                                He also emphasizes the importance of conferences, making note of the fact that
                                conference
                                acceptance rates are
                                higher than journal rates, making it a great place to discuss your work and receive
                                feedback.
                            </p>
                        </div>

                        <div id="notes5" class="cols12">
                            <ul class="bulleted-list">
                                <li>Great start for research</li>
                                <li>Math Competitions
                                    <ul class="bulleted-list">
                                        <li class="indented">Tests your mentality</li>
                                        <li class="indented">Try
                                            <ul class="bulleted-list">
                                                <li class="indented">You can’t go wrong</li>
                                                <li class="indented">Just pick a topic</li>
                                            </ul>
                                        </li>
                                        <li class="indented">Justin’s Topics
                                            <ul class="bulleted-list">
                                                <li class="indented">Be able to present your ideas</li>
                                                <li class="indented">Topological Data Analysis</li>
                                                <li class="indented">Math Research w/ Dr. Penev</li>
                                                <li class="indented">Physics Research w/ Dr. Dogru</li>
                                            </ul>
                                        </li>
                                        <li class="indented">Be able to explain it to anyone</li>
                                        <li class="indented">Find niche topics
                                            <ul class="bulleted-list">
                                                <li class="indented">For Justin, he took the Quantum Mechanics Elective
                                                </li>
                                                <li class="indented">ArXiv.org
                                                    <ul class="bulleted-list">
                                                        <li class="indented">Read the papers posted on your topic</li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="indented">Conferences
                                            <ul class="bulleted-list">
                                                <li class="indented">Golden opportunity to learn</li>
                                                <li class="indented">Conference acceptance rate > journal acceptance
                                                </li>
                                                <li class="indented">Heart Arrhythmia Project &lt;- 10th grade</li>
                                            </ul>
                                        </li>
                                        <li class="indented">Camps
                                            <ul class="bulleted-list">
                                                <li class="indented">RSI</li>
                                                <li class="indented">Make MOP or win ISEF</li>
                                                <li class="indented">PRIMES
                                                    <ul class="bulleted-list">
                                                        <li class="indented">PROBLEM SET IS KEY</li>
                                                        <li class="indented">How you do on the problem set</li>
                                                        <li class="indented">REALLY FOCUS</li>
                                                        <li class="indented">Page of Recommended Readings on Website
                                                        </li>
                                                        <li class="indented">Look at problems</li>
                                                        <li class="indented">GOOGLE STUFF</li>
                                                    </ul>
                                                </li>
                                                <li class="indented">SUMAC</li>
                                                <li class="indented">Do the video
                                                    <ul class="bulleted-list">
                                                        <li class="indented">It helps</li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div id="video5" class="cols12">
                            <div class="center-align hide-on-med-and-down show-on-large">
                                <iframe width="50%" height="400px"
                                    src="https://www.youtube.com/embed/NkdZu5En-nY?si=_pObwPHqHNBvXjpi"
                                    allow="accelerometer; autoplay; encrypted-media;
                                        gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>

                            <div class="center-align show-on-medium-and-down
                                    hide-on-large-only">
                                <iframe width="100%" height="300px"
                                    src="https://www.youtube.com/embed/NkdZu5En-nY?si=_pObwPHqHNBvXjpi"
                                    allow="accelerometer; autoplay; encrypted-media;
                                        gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                        </div>
                        <h5>
                            Session 6
                        </h5>
                        <div class="container">
                            <div class="row">
                                <div class="col s9">
                                    <ul class="tabs">
                                        <li class="tab col s3"><a class="active" href="#summary6">Summary</a></li>
                                        <li class="tab col s3"><a href="#notes6" class="">Notes</a></li>
                                        <li class="tab col s3"><a href="#video6" class="">Video</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div id="summary6" class="col s12">
                            <p>
                                In Session 6, we went over interviews with successful researchers.
                                This includes Joseph Vulakh (PRIMES ‘22, ‘23; RSI Top 10 Presentation ‘23; ISEF AMS Karl
                                Menger Award ‘23)
                                and Rinni Bhansali (Stanford ‘24; PRIMES ‘19; Regeneron STS Scholar; ISEF 2nd Award ‘19)
                                .
                                During his interview, Joseph talks about how to start research, with anecdotes as to how
                                he
                                himself got into research.
                                Joseph says a key part of learning research is able to understand the material 
                                to
                                conduct high level research.
                                He emphasizes the importance of mentorship at all stages of the research process. Rinni
                                emphasizes the importance of getting
                                your hands dirty through the story of trying to read a dense Analytic Number Theory
                                paper.
                                She also mentions the importance
                                of problem solving, recommending the book "The Art and Craft of Problem Solving" by Paul
                                Zeitz.
                                <!-- Summary Notes Video -->
                            </p>
                        </div>

                        <div id="notes6" class="cols12">
                            <h6>Joseph Vulakh Interview Notes</h6>
                            <p>
                                Q: Could you share some of your early experiences or challenges when you started
                                conducting research--
                                what advice do you have about getting started?
                            </p>
                            A: Getting caught up to the frontiers of math is hard-- you need to do a lot of reading.
                            Get excited about learning math without worrying too much about your contribution.
                            <p>
                                Q: What roles did mentors play?
                            </p>
                            A: In all three phases of research (reading, active research, write-up) mentors are
                            VALUABLE.
                            Many readings will call certain steps 'trival' when they aren't to highschoolers. This is a
                            place where
                            mentors can clear this up. However, if the mentor provides you with a good question,
                            they won't know the answers themselves. Mentors will help guide you to other areas of
                            reading
                            when you get stuck during the active research phase. Finally, for writing-up mentors can be
                            useful
                            for checking your work and formatting.
                            <p>
                                Q: What is general advice you would give?
                            </p>
                            <p>
                                A: Be open minded. Don't feel like you have specialized as you are still only in high
                                school.
                                Every new project is an opportunity to explore a new area.
                            </p>
                            <h6>Rinni Bhansali Interview Notes</h6>
                            <p>
                                Rinni started doing math research seriously after returning from Ross.
                                She started reading an Analytic Number Theory paper and conversed
                                with a professor. She expresses that you can learn a lot just by diving head first into
                                an area.
                                This experience showed her that she wanted to start work in a different area.
                            </p>
                            <p>
                                She applied to PRIMES with a preference in Applied math research.
                                PRIMES and its application is a lot of effort.
                                Working through every exercise of "The Art and Craft of Problem Solving" by Paul Zeitz
                                helped greatly in gaining the skills. PRIMES offers structure that is very helpful in
                                long term projects.
                            </p>
                            <p>
                                Rinni says to try to do math in group formats wherever possible.
                                She emphasizes that even having an hour to talk with someone
                                who knows what they are talking about is extremely useful.
                            </p>
                        </div>
                        <div id="video6" class="cols12">
                            <div class="center-align hide-on-med-and-down show-on-large">
                                <iframe width="50%" height="400px"
                                    src="https://www.youtube.com/embed/lQXIowh0_bk?si=2v-Zy1FPmtJOIeHD"
                                    allow="accelerometer; autoplay; encrypted-media;
                                    gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>

                            <div class="center-align show-on-medium-and-down
                                hide-on-large-only">
                                <iframe width="100%" height="300px"
                                    src="https://www.youtube.com/embed/lQXIowh0_bk?si=2v-Zy1FPmtJOIeHD"
                                    allow="accelerometer; autoplay; encrypted-media;
                                    gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                    <div id="photos" class="col s12">
                        <div class="container">
                            <h4>Photos</h4>
                            <div class="row">
                                <div class="col s12 m6 l4">
                                    <img class="materialboxed" data-caption="Krish" width="100%" src="images/research/krish1.JPG">
                                </div>
                                <div class="col s12 m6 l4">
                                    <img class="materialboxed" data-caption="Justin 1" width="100%" src="images/research/justin1.JPG">
                                </div>
                                <div class="col s12 m6 l4">
                                    <img class="materialboxed" data-caption="Justin 2" width="100%"
                                        src="images/research/justin2.JPG">
                                </div>
                                <div class="col s12 m6 l4">
                                    <img class="materialboxed" data-caption="Students listening" width="100%" src="images/research/listening.JPG">
                                </div>
                                <div class="col s12 m6 l4">
                                    <img class="materialboxed" data-caption="Rushabh's Presentation" width="100%" src="images/research/rushabh.JPG">
                                </div>
                                <div class="col s12 m6 l4">
                                    <img class="materialboxed" data-caption="Students working" width="100%" src="images/research/studious.JPG">
                                </div>
                                <div class="col s12 m6 l4">
                                    <img class="materialboxed" data-caption="Danny" width="100%" src="images/research/danny.JPG">
                                </div>
                                <div class="col s12 m6 l4">
                                    <img class="materialboxed" data-caption="Shining" width="100%" src="images/research/shining.JPG">
                                </div>
                                <div class="col s12 m6 l4">
                                    <img class="materialboxed" data-caption="Students working (again)" width="100%" src="images/research/studious2.JPG">
                                </div>
                                <!-- <div class="col s12 m6 l4">
                        <img class="materialboxed" data-caption="Prizes for top-scoring students" width="100%"
                            src="images/jhmmc_prizes.JPG">
                    </div> -->
                            </div>
                        </div>
                    </div>
                </li>
            </ul>

        </div>

    </main>
</SiteLayout>
