---
import LegacyLayout from "../layouts/LegacyLayout.astro";
---

<LegacyLayout title="Resources" styles={["/css/info.css"]} firebase>
<main>
        <!-- FIND GOOD PICTURES!!! -->
        <div class="container">
            <div class="row">
                <h3>Resources</h3>

                On weekend meetings, members take mock or official math contests, attend lectures on various topics by
                our veteran math team members, or listen to guest speakers. Ultimately, however, improvement comes from
                <em>solving lots of problems</em> in your free time! We encourage members to review past contest
                problems that they were unable to solve in the time frame, and attempt problem sets that accompany our
                lecture notes. We bring these resources to you on this website through the links below (or in the
                dropdown menu "Resources" above in the navigation bar).
            </div>
            <div class="container">
                <div class="row">
                    <div class="col s12 m6">
                        <div class="card">
                            <div class="card-image">
                                <a href="/info.html"><img src="/images/maa_amc.png"></a>
                            </div>
                            <div class="card-content">

                                <span class="card-title black-text">Contest Preparation</span>
                                <p>This page will provide a wide assortment of links to outside resources that students
                                    can also utilize in their preparation for the main sequence of math contests by the
                                    Mathematical Association of America (MAA): AMC/AIME/USA(J)MO.</p>
                            </div>
                            <div class="card-action">
                                <a href="/info.html">Visit</a>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m6">
                        <div class="card">
                            <div class="card-image">
                                <a href="/archive.html"><img src="/images/pile_of_math_papers.jpg"></a>
                            </div>
                            <div class="card-content">

                                <span class="card-title black-text">Archive</span>
                                <p>This page contains links to .pdf files of lecture notes (with problem sets) that our
                                    veteran math team members wrote and compiled, previously administered mock contests
                                    or released contest papers from outside organizations, and solutions to problems.
                                    <span style="font-weight: bold;">All math team members should check this page
                                        regularly for newly released documents during downtime.</span></p>
                            </div>
                            <div class="card-action">
                                <a href="/archive.html">Visit</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
    </main>
</LegacyLayout>
