---
import LegacyLayout from "../layouts/LegacyLayout.astro";
---

<LegacyLayout title="Summer Lectures" styles={["/css/about.css"]}>
<main>
            <div class="container">
                <h3><i class="material-icons" style="font-size: 1.2em">brightness_low</i> Summer Lectures 2025</h3>

                <p>
                    Although the BCA Math Team is typically geared towards high school students, it has recently begun
                    offering lecture series during the summer to help prepare rising high school freshmen and middle
                    schoolers. This summer, four lecture series will be offered in Algebra, Combinatorics, Geometry, and
                    Number Theory throughout August.
                </p>
                <p>
                    Each lecture series will meet four times for 90 min via Zoom. Homework assignments and class
                    materials will be managed on each series' respective Google Classroom.
                </p>
                <p>
                    If you have any questions, please contact
                    <a href="mailto: gabher26@bergen.org">gabher26@bergen.org</a> and/or
                    <a href="mailto: aalpat27@bergen.org">aalpat27@bergen.org</a>.
                </p>
                <!-- <h4>2024 Archive</h4>
                <div class="section">
                    <iframe
                        src="https://drive.google.com/embeddedfolderview?id=1WCzc-lobvDTA57IxK92v03vbZH4j6KXf#list"
                        style="width: 90%; height: 150px; border: 0"
                    >
                    </iframe>
                </div> -->
                <h4>Algebra - Chris Yun</h4>
                <p><b>GOOGLE CLASSROOM CODE: csdwuwcq</b></p>
                <p>
                    In this course, students will learn strategies and techniques for algebra in high school competition
                    math. Some topics that will be covered include Vieta's formulas, polynomials, and ways to strategize
                    through seemingly difficult problems.
                </p>
                <!--  <div class="section">
                    <iframe
                        src="https://drive.google.com/embeddedfolderview?id=1M--wPQ2fPlwOCyfW3lN1F5FOyXX6iBWj#list"
                        style="width: 90%; height: 150px; border: 0"
                    >
                    </iframe>
                </div> -->
                <p><b>Dates:</b> Saturdays 8:30 am - 10:00 am Eastern Time (8/2, 8/9, 8/16, 8/23)</p>
                <h4>Combinatorics - Mythreya Dharani & Mohammed Zariwala</h4>
                <p><b>GOOGLE CLASSROOM CODE: nro66qfr</b></p>
                <p>
                    In this course, students will learn fundamental concepts of counting and problem-solving methods
                    such as permutations, combinations, casework, PIE, and complementary counting. Later lectures will
                    include more advanced topics such as geometric probabilities, expected value, and combinatorial
                    identities.
                </p>
                <!--   <div class="section">
                    <iframe
                        src="https://drive.google.com/embeddedfolderview?id=1EXyiet2S2ldhyO_cvVzwgS5wTRGq7SGp#list"
                        style="width: 90%; height: 150px; border: 0"
                    >
                    </iframe>
                </div> -->
                <p><b>Dates:</b> Wednesdays 11:00 am - 12:30 pm Eastern Time (8/6, 8/13, 8/20, 8/27)</p>
                <h4>Geometry - Fiona Chen & Gabriele Herr</h4>
                <p><b>GOOGLE CLASSROOM CODE: riulrzjj</b></p>
                <p>
                    In this course, students will begin geometry from the foundations: triangle area, angles, special
                    right triangles, congruence, and different centers. Students will then learn more in-depth topics
                    such as circles and 3D geometry, covering power of a point, Ptolemy's theorem, surface area, and
                    coordinate geometry.
                </p>
                <!--  <div class="section">
                    <iframe
                        src="https://drive.google.com/embeddedfolderview?id=1h4NPpK6C-TTeYkW09PvyxiLtW7-MEcBB#list"
                        style="width: 90%; height: 150px; border: 0"
                    >
                    </iframe>
                </div> -->
                <p><b>Dates:</b> Mondays 11:00 am - 12:30 pm Eastern Time (8/4, 8/11, 8/18, 8/25)</p>
                <h4>Number Theory - Aalok Pathak</h4>
                <p><b>GOOGLE CLASSROOM CODE: rfgxityr</b></p>
                <p>
                    In this course, we will explore key topics in number theory for competition math. We'll cover
                    concepts such as modular arithmetic, number bases, greatest common divisors and least common
                    multiples, Euler's totient function, and Fermat's Little Theorem.
                </p>
                <!--   <div class="section">
                    <iframe
                        src="https://drive.google.com/embeddedfolderview?id=1QQffkjzbHI0anoI2UBlED-q4ee-JqXO_#list"
                        style="width: 90%; height: 150px; border: 0"
                    >
                    </iframe>
                </div> -->
                <p><b>Dates:</b> Fridays 3:00 pm - 4:30 pm Eastern Time (8/1, 8/8, 8/15, 8/22)</p>
            </div>
        </main>
</LegacyLayout>
