---
import SiteLayout from "../layouts/SiteLayout.astro";
---

<SiteLayout title="Summer Lectures" styles={["/css/about.css"]}>
<main id="main-content">
            <div class="container">
                <h3><i class="material-icons" style="font-size: 1.2em">brightness_low</i> Summer Lectures 2026</h3>

                <p>
                    Although the BCA Math Team is typically geared towards high school students, it has recently begun
                    offering lecture series during the summer to help prepare rising high school freshmen and middle
                    schoolers. This summer, lecture series will be offered in Algebra, Number Theory, Combinatorics, and
                    Geometry throughout August.
                </p>
                <p>
                    Each lecture series will meet four times via Zoom. More details will be posted as they are finalized.
                </p>
                <h4>Algebra</h4>
                <p>
                    Students will explore a collection of powerful algebraic techniques frequently used in mathematics
                    competitions. Topics include Vieta's Formulas, methods for finding polynomial roots, arithmetic and
                    geometric sequences and series, and fundamental trigonometry. Along the way, we will learn tools
                    such as the Rational Root Theorem, Descartes' Rule of Signs, and important trigonometric identities,
                    applying them to solve challenging competition-style problems efficiently.
                </p>
                <p><b>Dates:</b> Sundays at 3:00 PM Eastern Time (8/9, 8/16, 8/23, 8/30)</p>

                <h4>Number Theory</h4>
                <p>
                    Students will explore the fundamentals of the integers. Key topics include modular arithmetic,
                    divisibility, and number bases. We will learn to apply results such as Fermat's Little Theorem,
                    Euler's Theorem, and the Chinese Remainder Theorem in competition math.
                </p>
                <p><b>Dates:</b> Fridays, time TBD (8/7, 8/14, 8/21, 8/28)</p>

                <h4>Combinatorics</h4>
                <p>TBD</p>

                <h4>Geometry</h4>
                <p>TBD</p>
            </div>
        </main>
</SiteLayout>
