<header>
  <nav class="black nav-extended" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="/" class="brand-logo">
        <img src="/images/bca_logo.png" height="28px" alt="BCA logo" /> Math Team
      </a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="/about.html">About</a></li>
        <li><a href="/summer.html">Summer Lectures</a></li>
        <li><a href="/research.html">Research</a></li>
        <li><a href="/archive.html">Archive</a></li>
        <li><a href="/info.html">Resources</a></li>
        <li><a href="/news.html">Awards</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  <ul id="nav-mobile" class="sidenav black">
    <li><a href="/" class="white-text">Home</a></li>
    <li><a href="/about.html" class="white-text">About</a></li>
    <li><a href="/summer.html" class="white-text">Summer Lectures</a></li>
    <li><a href="/research.html" class="white-text">Research</a></li>
    <li><a href="/archive.html" class="white-text">Archive</a></li>
    <li><a href="/info.html" class="white-text">Resources</a></li>
    <li><a href="/news.html" class="white-text">Awards</a></li>
  </ul>
</header>
