<footer class="page-footer black lighten-1">
  <div class="container">
    <div class="row">
      <div class="col l6 hide-on-med-and-down">
        <a href="https://www.bergen.org/bergencountyacademies">
          <img src="/images/bca_logo.png" alt="BCA Logo" height="130px" />
        </a>
      </div>
      <div class="col l3 s6">
        <h5 class="yellow-text">Connect</h5>
        <ul style="text-decoration: underline;">
          <li><a class="white-text" href="https://www.bergen.org/bergencountyacademies">Bergen County Academies</a></li>
          <li><a class="white-text" href="https://holbrook.bcamathteam.org/">JHMMC Official Site</a></li>
          <li>
            <a class="white-text" href="https://www.facebook.com/Joe-Holbrook-Memorial-Math-Competition-470281533772274/">
              JHMMC Facebook page
            </a>
          </li>
        </ul>
        <a class="white-text" style="text-decoration: underline;" href="https://www.instagram.com/bca_mt/" target="_blank">
          <p>Follow us on Instagram!</p>
          <img src="/images/instagram_logo.png" alt="Instagram" style="width:40px; height:40px; filter: invert(1);" />
        </a>
      </div>
      <div class="col l3 s6">
        <h5 class="yellow-text">Contact</h5>
        <ul class="white-text">
          <p>Coaches:</p>
          <li><a class="white-text" style="text-decoration: underline;" href="mailto:micabra@bergen.org">Dr. Michael Abramson</a></li>
          <li><a class="white-text" style="text-decoration: underline;" href="mailto:jonpin@bergen.org">Mr. Jon Pinyan</a></li>
          <p>For website-related inquiries:</p>
          <li><a class="white-text" style="text-decoration: underline;" href="mailto:micmid26@bergen.org">Michael Middlezong</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright grey darken-4">
    <div class="container">&copy; 2025 &bull; Bergen County Academies</div>
  </div>
</footer>
